<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's Camp</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');

    #searchDiv {
      text-align: center !important;
      align-items: center;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      color: var(--text);
      background: var(--bg);
      transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: currentColor;
      text-decoration: none;
    }

    header {
      padding: 1em;
      clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
      background: var(--bg-nav);
      margin-bottom: 1em;
      padding-bottom: 3.5em;
      text-align: center;
    }

    main {
      min-height: 1000px;
      padding: 1% 10% 4%;
    }

    img {
      margin: 2em 0 0;
      width: 180px;
      height: 180px;
    }

    /* Navbar */

    .navbar {
      height: 70px;
      width: 100%;
      background: var(--bg-nav);
      color: var(--text);
    }

    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }

    .dropdown {
      position: absolute;
      width: 200px;
      opacity: 0;
      z-index: 2;
      background: var(--bg-dropdown);
      border-top: 2px solid var(--border-color);

      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem;
      margin-top: 2rem;
      padding: 0.5rem;

      box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
      transform: translateX(-40%);

      transition: opacity 0.15s ease-out;
    }

    .has-dropdown:focus-within .dropdown {
      opacity: 1;
      pointer-events: auto;
    }

    .dropdown-item a {
      width: 100%;
      height: 100%;
      size: 0.7rem;
      padding-left: 10px;
      font-weight: bold;
    }

    .dropdown-item a::before {
      content: ' ';
      border: 2px solid var(--border-color);
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    /* Themes */

    :root {
      --gray0: #f8f8f8;
      --gray1: #dbe1e8;
      --gray2: #b2becd;
      --gray3: #6c7983;
      --gray4: #454e56;
      --gray5: #2a2e35;
      --gray6: #12181b;
      --blue: #0084a5;
      --purple: #a82dd1;
      --yellow: #fff565;
    }

    .light {
      --bg: var(--gray0);
      --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
      --bg-dropdown: var(--gray0);
      --text: var(--gray6);
      --border-color: var(--blue);
      --bg-solar: var(--yellow);
    }

    .dark {
      --bg: var(--gray5);
      --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
      --bg-dropdown: var(--gray6);
      --text: var(--gray0);
      --border-color: var(--purple);
      --bg-solar: var(--blue);
    }

    #dark::before {
      background: #2a2e35;
    }

    #light::before {
      background: #ffffff;
    }

    /* Logo Animation */

    @keyframes color-rotate {
      from {
        filter: hue-rotate(0deg);
      }

      to {
        filter: hue-rotate(360deg);
      }
    }

    .logo:hover {
      animation: color-rotate 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  </style>
</head>


<body class="dark">
  <!-- Navbar -->

  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/campgrounds">Campgrounds</a></li>
      <li class="nav-item">About</li>

      <!-- Dropdown -->
      <li class="nav-item has-dropdown">
        <a href="#">Theme</a>
        <ul class="dropdown">
          <li class="dropdown-item">
            <a id="light" href="#">light</a>
          </li>
          <li class="dropdown-item">
            <a id="dark" href="#">dark</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">Login</li>
    </ul>
  </nav>

  <header>
    <div>
      <img src="images/man.png" class="logo" />
      <h1>Let's CAMP,<br />A Web App to find nearby Camp-sites.</h1>
    </div>

    <p>Camp wherever you like!</p>
  </header>

  <main>

    <h3>Introduction</h3>
    <p>
      Let's camp is a site that based on helps people to find nearby campsites without a worry!
      It also helps campsite owners to advertise their campsites, so that they can acquire better customers.
    </p>
    <p>
      Deadlights jack lad schooner scallywag dance the hempen jig carouser
      broadside cable strike colors. Bring a spring upon her cable holystone
      blow the man down spanker Shiver me timbers to go on account lookout
      wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot
      yardarm spyglass sheet transom heave to.
    </p>
    <p>
      Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway.
      Case shot Shiver me timbers gangplank crack Jennys tea cup ballast
      Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas
      boatswain schooner gaff booty Jack Tar transom spirits.
    </p>
  </main>


  <script>
    const darkButton = document.getElementById('dark');
    const lightButton = document.getElementById('light');
    const body = document.body;


    const theme = localStorage.getItem('theme') || 'Dark';
    if (theme) {
      if (body.classList.contains('light')) {
        body.classList.remove('light')
      } else {
        body.classList.remove('dark')
      }
      body.classList.add(theme);
    }

    darkButton.onclick = () => {
      body.classList.replace('light', 'dark');
      localStorage.setItem('theme', 'dark');
    };

    lightButton.onclick = () => {
      body.classList.replace('dark', 'light');
      localStorage.setItem('theme', 'light');
    };
  </script>
</body>

</html>